<settings>
    <setting id="kioskmode.viewtypes" type="bool">false</setting>
    <setting id="debuggrid" type="bool">false</setting>
    <setting id="widgets.expandedfooter" type="bool">true</setting>
    <setting id="selectbox.thin" type="bool">false</setting>
    <setting id="usebackgroundvideo" type="bool">false</setting>
    <setting id="labels.autoscroll" type="bool">false</setting>
    <setting id="osd.autohideonpause" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Addon" type="bool">true</setting>
    <setting id="infoline.enabledirector" type="bool">false</setting>
    <setting id="indicator.disableprogress" type="bool">false</setting>
    <setting id="hubs.disablequickswitch" type="bool">false</setting>
    <setting id="ratings.disableimdb" type="bool">false</setting>
    <setting id="osd.disablepauseoninfo" type="bool">false</setting>
    <setting id="ratings.autohide" type="bool">false</setting>
    <setting id="invertselectedtext" type="bool">false</setting>
    <setting id="ratings.hideall" type="bool">false</setting>
    <setting id="indicator.ratings" type="bool">false</setting>
    <setting id="kioskmode.management" type="bool">false</setting>
    <setting id="osd.disablepopupdialogs" type="bool">false</setting>
    <setting id="ratings.enablerottentomatoescritic.tvshows" type="bool">false</setting>
    <setting id="TMDbHelper.DisableArtwork" type="bool">true</setting>
    <setting id="background.narrowplot" type="bool">false</setting>
    <setting id="indicator.disablelibrary" type="bool">false</setting>
    <setting id="furniture.disablerightheader" type="bool">false</setting>
    <setting id="furniture.disablerightfooter" type="bool">false</setting>
    <setting id="codecs.disablemediacodecicons" type="bool">false</setting>
    <setting id="pvr.disableepgeventiconfanart" type="bool">false</setting>
    <setting id="ratings.disablerottentomatoescritic" type="bool">false</setting>
    <setting id="selectbox.glow" type="bool">false</setting>
    <setting id="tmdbhelper.enableblur" type="bool">false</setting>
    <setting id="ratings.disabletrakt.tvshows" type="bool">false</setting>
    <setting id="indicator.disablewatched" type="bool">false</setting>
    <setting id="TextureMaker.Built" type="bool">true</setting>
    <setting id="home.verticalmenu" type="bool">false</setting>
    <setting id="tmdbhelper.disablepvr" type="bool">false</setting>
    <setting id="touchmode" type="bool">false</setting>
    <setting id="views.disablebiglandscapetext" type="bool">false</setting>
    <setting id="ratings.disabletmdb.tvshows" type="bool">false</setting>
    <setting id="ratings.enablemetacritic.tvshows" type="bool">false</setting>
    <setting id="furniture.disableleftheader" type="bool">false</setting>
    <setting id="textboxes.disableautoscroll" type="bool">false</setting>
    <setting id="background.extrafanart" type="bool">false</setting>
    <setting id="info.enablesimplebackground" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="ratings.enableletterboxd" type="bool">false</setting>
    <setting id="uselightfont" type="bool">false</setting>
    <setting id="ratings.disabletmdb" type="bool">false</setting>
    <setting id="widgets.expandedheader" type="bool">true</setting>
    <setting id="disablelandscapeart" type="bool">false</setting>
    <setting id="enablemonochromehighlight" type="bool">false</setting>
    <setting id="tmdbhelper.forcewidgetcontainer" type="bool">false</setting>
    <setting id="ratings.disableimdb.tvshows" type="bool">false</setting>
    <setting id="TMDbHelper.Service" type="bool">true</setting>
    <setting id="codecs.usetextlabels" type="bool">false</setting>
    <setting id="ratings.disablemovierelease" type="bool">false</setting>
    <setting id="indicator.disableepisodes" type="bool">false</setting>
    <setting id="home.iconicmenu" type="bool">false</setting>
    <setting id="tmdbhelper.disableratings" type="bool">false</setting>
    <setting id="widgets.fullscreencontext" type="bool">false</setting>
    <setting id="infoline.enablegenre" type="bool">false</setting>
    <setting id="codecs.disablesubtitlelanguageflags" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">false</setting>
    <setting id="home.textmenu" type="bool">false</setting>
    <setting id="pvr.invertprogresscolor" type="bool">false</setting>
    <setting id="dialoginfo.focusbuttons" type="bool">false</setting>
    <setting id="osd.alwaysdisplaystop" type="bool">false</setting>
    <setting id="widgets.disablesimplebackground" type="bool">false</setting>
    <setting id="views.disablebigposterrowautoinfo" type="bool">false</setting>
    <setting id="ratings.disableoscar" type="bool">false</setting>
    <setting id="view_557.mediainfo" type="bool">false</setting>
    <setting id="ratings.enableuserrating" type="bool">false</setting>
    <setting id="ratings.disabletrakt" type="bool">false</setting>
    <setting id="infoline.disablempaa" type="bool">false</setting>
    <setting id="codecs.disablemediaprovidericons" type="bool">true</setting>
    <setting id="ratings.disablestarrating" type="bool">false</setting>
    <setting id="home.cleanwidgets" type="bool">false</setting>
    <setting id="view_558.mediainfo" type="bool">false</setting>
    <setting id="ratings.disablemetacritic" type="bool">false</setting>
    <setting id="home.showprofileimage" type="bool">false</setting>
    <setting id="widgets.disableexpandedbackground" type="bool">false</setting>
    <setting id="keyboard.disableautocompletion" type="bool">false</setting>
    <setting id="ratings.disablerottentomatoesuser" type="bool">false</setting>
    <setting id="disablealphabetscrollbar" type="bool">false</setting>
    <setting id="titles.enablewrapping" type="bool">false</setting>
    <setting id="tmdbhelper.disableextendedproperties" type="bool">false</setting>
    <setting id="disableimdbrating" type="bool">false</setting>
    <setting id="furniture.useminimalclock" type="bool">false</setting>
    <setting id="indicator.disablelatest" type="bool">false</setting>
    <setting id="tmdbhelper.disablepersonstats" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="glass.borderoutline" type="bool">false</setting>
    <setting id="home.disablesearchmenu" type="bool">false</setting>
    <setting id="codecs.usefilenameinfo" type="bool">false</setting>
    <setting id="ratings.disableimdbtop250" type="bool">false</setting>
    <setting id="videoinfo.fullscreentrailer" type="bool">false</setting>
    <setting id="ratings.enablerottentomatoesuser.tvshows" type="bool">false</setting>
    <setting id="infoline.enableendtime" type="bool">false</setting>
    <setting id="home.enableshowmorewidget" type="bool">false</setting>
    <setting id="startup.plugininit" type="bool">true</setting>
    <setting id="indicator.disablecollection" type="bool">false</setting>
    <setting id="ratings.disabletvrelease" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="codecs.disableaudiolanguageflags" type="bool">false</setting>
    <setting id="TMDbHelper.UseLocalWidgetContainer" type="bool">true</setting>
    <setting id="widgets.opaquefocus" type="bool">false</setting>
    <setting id="furniture.disableleftfooter" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="recommendations.expandplot" type="bool">false</setting>
    <setting id="recommendations.uselocal" type="bool">false</setting>
    <setting id="recommendations.aggregatetvcast" type="bool">false</setting>
    <setting id="recommendations.aggregatetvcrew" type="bool">false</setting>
    <setting id="info.disablecast" type="bool">false</setting>
    <setting id="info.disableseasons" type="bool">false</setting>
    <setting id="info.disablecollections" type="bool">false</setting>
    <setting id="info.disablerecommendations" type="bool">false</setting>
    <setting id="info.disablesimilar" type="bool">false</setting>
    <setting id="info.disableyear" type="bool">false</setting>
    <setting id="info.disablegenre" type="bool">false</setting>
    <setting id="info.disablestudio" type="bool">false</setting>
    <setting id="info.disabledirector" type="bool">false</setting>
    <setting id="info.disablewriter" type="bool">false</setting>
    <setting id="info.disablecrew" type="bool">false</setting>
    <setting id="info.disableupnext" type="bool">false</setting>
    <setting id="info.disableposters" type="bool">false</setting>
    <setting id="info.disablefanart" type="bool">false</setting>
    <setting id="info.disableyoutube" type="bool">false</setting>
    <setting id="info.disablereviews" type="bool">false</setting>
    <setting id="info.disablekeywords" type="bool">false</setting>
    <setting id="widgetEndRowAction-tvshows" type="string"></setting>
    <setting id="widgetEndRowAction-videos" type="string"></setting>
    <setting id="gradientcolor.name" type="string"></setting>
    <setting id="menuOnUpAction-music" type="string"></setting>
    <setting id="focuscolor.name" type="string"></setting>
    <setting id="menuOnUpAction-31085" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="pvr.onback" type="string"></setting>
    <setting id="widgetEndRowAction-31085" type="string"></setting>
    <setting id="TMDbHelper.Blur.Radius" type="string"></setting>
    <setting id="autoscrolltime" type="string"></setting>
    <setting id="script-skinviewtypes-hash" type="string">9953b77733d91cae2a51dde62a8d6a22</setting>
    <setting id="TMDbHelper.Blur.Size" type="string"></setting>
    <setting id="homemenu.onup" type="string">None</setting>
    <setting id="background.image" type="string"></setting>
    <setting id="widgetEndRowAction-movies" type="string"></setting>
    <setting id="menuOnUpAction-videos" type="string"></setting>
    <setting id="rows.ondown" type="string">Trailer</setting>
    <setting id="backgroundstyle" type="string">Fanart</setting>
    <setting id="home.menuposition" type="string"></setting>
    <setting id="menuOnUpAction-tvshows" type="string"></setting>
    <setting id="TMDbHelper.MonitorContainer" type="string">99950</setting>
    <setting id="watchedprogresscolor.name" type="string"></setting>
    <setting id="widgetEndRowAction-music" type="string"></setting>
    <setting id="startup.imagefolder" type="string"></setting>
    <setting id="weatherclock" type="string"></setting>
    <setting id="OSD_Timeout" type="string"></setting>
    <setting id="script-skinviewtypes-checksum" type="string">0b065a98d3ad98addb3653076bf9e6c5</setting>
    <setting id="mpaa_country" type="string">UK</setting>
    <setting id="skinshortcuts-widget-1" type="string">Addon</setting>
    <setting id="customgenreiconlocation" type="string"></setting>
    <setting id="foregroundstyle" type="string">None</setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="menuOnUpAction-movies" type="string"></setting>
</settings>
